[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
djoser = "*"
python-decouple = "*"
crispy-tailwind = "*"

[dev-packages]

[requires]
python_version = "3.13"
