body {
    font-family: 'Karla', sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #495E57;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 0px;
}

nav ul {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    padding-inline-start: 0rem;
    margin-bottom: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0.5rem;
}

nav ul a {
    color: #EDEFEE;
    text-decoration: none;
}

nav ul a:active {
    text-decoration: underline;
}

nav ul a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}
