{% extends "base.html" %}
{% load static %}

{% block content %}
   <h1 style="text-align:center;">Welcome To LittleLemon Restaurant</h1>
   <div class="d-flex justify-content-center gap-5 mt-4 mb-4">
      <div class="card" style="width: 18rem;" >
         <img src="..." class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Apetizers</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary">Go somewhere</a>
         </div>
       </div>
       <div class="card" style="width: 18rem;" >
         <img src="..." class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Deserts</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary">Go somewhere</a>
         </div>
       </div>
       <div class="card" style="width: 18rem;" >
         <img src="..." class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Drinks</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary">Go somewhere</a>
         </div>
       </div>
   </div>
   
{%endblock%}